services:
  database:
    image: postgres:18.1-alpine3.23
    container_name: database
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./infra/database/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - cellnet
    

volumes:
  postgres_data:

networks:
  cellnet:
    driver: bridge